<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{{ title }}</title>

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ url_for('static', filename='materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet" media="screen,projection">

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='materialize.min.js') }}"></script>
    </head>

    <body>
        <header>
            <nav class="red" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="#" class="brand-logo left">{{ hostname }}</a>
                    <ul id="nav-mobile" class="right">
                        <li><a href="{{ '../' * depth + 'navigation/' }}">Navigation</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <h4 class="header">{{ title }}</h4>
                </div>
                <div class="divider"></div>
            </div>
        </header>

        <main class="valign-wrapper">
            <div class="container">
                <div class="section"></div>
                <div class="section">
                    <div class="row center">
                        <div id="download-button" class="btn-large waves-effect waves-light light-blue col s12 l6 offset-l3">
                            {{ message }}
                        </div>
                        <div class="card col s12 l6 offset-l3">
                            <div class="input-field">
                                <form method="POST">
                                    <input id="password" type="password" name="password" class="validate">
                                    <label for="password">Password</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer white">
            <div class="container"></div>
            <div class="footer-copyright green">
                <div class="container">
                    Made by <a class="green-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                </div>
            </div>
        </footer>
    </body>
</html>
